{% extends 'contact/base1.html'%}
{% block content%}
{% load static %}



<br/>
<table class="table table-striped">
   <thead>
     <tr>
       
       <th scope="col">Title</th>
       <th scope="col">Email</th>
       <th scope="col">phonenumber</th>
     </tr>
   </thead>
 
     
   {% for cs in c.all %}
   <tbody>
       <tr>
          <td>{{cs.Name}}</td>
          <td>{{ cs.email}}</td>
          <td>{{cs.phonenumber}}</td>
       </tr>
       <tr>
    </tbody>
    {%   endfor %}
   </table>    
                  
                                  
                                   
{% endblock %}                    