{% extends 'contact/base1.html'%}
{% block content%}
{% load static %}

<br/>
<br/>
<table class="table table-striped">
               <thead>
                  <tr>
                     <th>Courses</th>
                     <th>image</th>
                    
                  </tr>
               </thead>
               
               {% for s in courses.all %}
               <tbody>
                   <tr>
                      <td>{{s.course}}</td>
                      <td><img src ="{{s.image.url}}" heigth=50px width=50px   alt="a"/></td>
                      <td><button type="button" class="btn btn-primary btn-lg active"><a href="{% url 'edit' s.id %}">Edit</a></button></td>
                      <td><button type="button" class="btn btn-primary btn-lg active"><a href="{% url 'deletecourse' s.id %} ">Delete</a></button><td>
                   </tr>
                   <tr>
                </tbody>

                {%   endfor %}
                
             </table>
             <td><button type="button" class="btn btn-primary btn-lg active"><a href="{% url 'addcourses'  %} ">AddCourse</a></button>
          

{% endblock %}